<div style="display: none;" class="toolbar" role="banner">
  <img width="180" height="80px" alt="Rubik's Code Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxiv5GOAkwWI1xpzDo2uv_k92wopUDRJkmfA&usqp=CAU" />
  <ul class="nav navbar-nav" routerLinkActive="active">
    <!-- <li class="nav-item"><a class="nav-link" routerLink="train">Train</a></li> -->
    <li class="nav-item"><a class="nav-link" style="color: white !important;" routerLink="predict">Predict</a></li>
  </ul>
</div>

<div class="content" role="main">
  <h1 style="color: white !important;margin-right: 40%;">Robo Advisor Prototype</h1>
  <br>
  <router-outlet></router-outlet>
</div>